body{
  background-color: #ffffff;
}
#loginDiv {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

fieldset {
  border-style: none;
  background-color: #7a7a7a;
  border-radius: 9px;
  padding: 0 3% 12px 1%;
}

input {
  width: 100%;
  border-radius: 9px;
  height: 22px;
  border-color: #7a7a7a;
  font-family: Helvetica;
  font-size: 1.5em;
}

p {
  text-align: center;
  font-family: Helvetica;
  font-size: 1.5em;
  color: #fdf5e6;
}

.tt-menu {
  background-color: #c9c5c5;
  width: 102%;
  border-radius: 9px;
}

.tt-suggestion{
  margin-top: 2px;
  text-align: center;
  font-family: Helvetica;
  font-size: 1.5em;
}
