/* CSS SET UP */

body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-60deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

	
.btn {
	appearance:button !important;
	-moz-appearance:button !important; /* Firefox */
	-webkit-appearance:none !important; /* Safari and Chrome */
}

.logo {
  margin-top: 9%;
  transition: color 1s ease;
  color: white;
  animation: logotransition 5s;
  -moz-animation: logotransition 5s infinite;
  /* Firefox */
  -webkit-animation: logotransition 5s infinite;
  /* Safari and Chrome */
}

@-moz-keyframes bgtransition {
  0% {
    background: #343d46;
  }
  50% {
    background: #464034;
  }
  100% {
    background: #343d46;
  }
}

@-webkit-keyframes bgtransition {
  0% {
    background: #343d46;
  }
  50% {
    background: #464034;
  }
  100% {
    background: #343d46;
  }
}

@-moz-keyframes logotransition {
  0% {
    color: white;
  }
  50% {
    color: #f7f7e1;
  }
  100% {
    color: white;
  }
}

@-webkit-keyframes logotransition {
  0% {
    color: white;
  }
  50% {
    color: #f7f7e1;
  }
  100% {
    color: white;
  }
}

table {
  margin-top: 4%;
}

.container-4 {
  margin-top: 3%;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  /* position: relative; */
}

.container-4 input#search {
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-4 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}

.container-4 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-4 button.icon {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-4 input#search:focus, .container-4 input#search:active {
  outline: none;
}
