/* CSS SET UP */

html {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(25deg, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(25deg, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100%;
  background-size: cover;
}

body {
  background: none;
  background-color: none;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.btn {
  appearance: button !important;
  -moz-appearance: button !important;
  /* Firefox */
  -webkit-appearance: none !important;
  /* Safari and Chrome */
}

.logo {
  margin-top: 9%;
  color: #FFFCFC;
}

table {
  margin-top: 4%;
}

.container-4 {
  margin-top: 3%;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  /* position: relative; */
}

.container-4 input#search {
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-4 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}

.container-4 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-4 button.icon {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-4 input#search:focus, .container-4 input#search:active {
  outline: none;
}

.table td, .table th {
    border-top: 0px solid #e9ecef;
    border-radius: 5px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
     margin-right: 0px;
    margin-left: -15px;
}

.glyphicon {
    font-size: 50px;
    /*color: pink;*/
    margin-top: 1em;
}

#help, #email {
  font-size: 2em;
  color: white;
  font-family: Helvetica;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.text-muted {
    color: #868e96;
    display: table;
    margin: 0 auto;
    width: inherit;
}
a {
  margin-left: 2em;
  font-size: 1.2em;
  color: #a9a9a9;
}
